**/*
!~/.vim/plug.vim
!~/.vim/plugConfig.vim
!~/.vim/templates/
!~/.vim/coc-config.vim
!~/.vim/coc-settings.json
!~/.vimrc
!~/.zshrc
!~/.emacs.d/lisp/
!~/.emacs.d/init.el
!~/.gitconfig
!~/bin/*
!~/.tmux.conf
