/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @created     : {{YEAR}}/{{MONTH}}/{{DATE}} {{TIME}} {{DAY_FULL}}
 * @file        : {{FILEE}}
 * @description : {{CURSOR}}
 */

#ifndef {{MACRO_GUARD}}_INCLUDED
#define {{MACRO_GUARD}}_INCLUDED

{{CURSOR}}

#endif
