/**
 * @author: {{NAME}} ({{EMAIL}})
 * @created: {{YEAR}}/{{MONTH}}/{{DATE}} {{TIME}} {{DAY_FULL}}
 * @filename: {{FILEE}}
 */

#ifndef {{MACRO_GUARD}}_INCLUDED
#define {{MACRO_GUARD}}_INCLUDED

{{CURSOR}}

#endif
